<!doctype html>
<html lang="en">
  <head>
    <!-- Metatags -->
    <meta charset="utf-8">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="cleartype" content="on">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <link rel="shortcut icon" href="<%= base_path %>/images/favicon.ico" type="image/x-icon">
    <% if refreshing? %>
      <meta http-equiv="refresh" content="60">
    <% end %>
    <title>Stackeye</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="<%= base_path %>/stylesheets/3PL.css">
    <link rel="stylesheet" href="<%= base_path %>/stylesheets/application.css">
  </head>
  <body>
    <!-- Components -->
    <%= erb(:"shared/_navbar") %>

    <div class="main-content">
      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>

    <!-- Javascripts -->
    <script src="<%= base_path %>/javascripts/3PL.js"></script>
    <script src="<%= base_path %>/javascripts/application.js"></script>
  </body>
</html>
