<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white">
  <div class="container-fluid">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="<%= base_path %>">
      <img src="<%= base_path %>/images/stackeye.png" class="navbar-brand-img mx-auto" alt="Stackeye">
    </a>
    <div class="navbar-user d-md-none">
      <a href="<%= base_path %>" class="navbar-toggler">
        <span class="fe fe-rotate-cw"></span>
      </a>
    </div>
    <div class="navbar-collapse collapse" id="sidebarCollapse" style="">
      <hr class="my-3 d-none d-sm-block">
      <h6 class="navbar-heading text-muted">
        Metrics
      </h6>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="<%= base_path %>/server">
            <i class="fe fe-server"></i> Server
          </a>
        </li>
      </ul>
      <hr class="my-3">
      <h6 class="navbar-heading text-muted">
        Documentation
      </h6>
      <ul class="navbar-nav mb-md-3">
        <li class="nav-item">
          <a class="nav-link " href="getting-started.html">
            <i class="fe fe-clipboard"></i> Getting started
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="changelog.html">
            <i class="fe fe-git-branch"></i>
            Changelog
            <span class="badge badge-primary ml-auto">
              v<%= Stackeye::VERSION %>
            </span>
          </a>
        </li>
      </ul>
      <hr class="my-3">
      <h6 class="navbar-heading text-muted text-center">
        Built with
        <i class="fe fe-heart text-danger"></i>
        by Drexed
      </h6>
    </div>

  </div>
</nav>
