<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h4 class="card-header-title">
          Top 10 processes
        </h4>
      </div>
      <div class="col-auto">
        <ul class="nav nav-tabs nav-tabs-sm card-header-tabs">
          <% { cpu_processes: "CPU", memory_processes: "Memory" }.each_with_index do |(metric, label), i| %>
            <li class="nav-item"
                data-expand="#card_<%= metric %>"
                data-contract=".card-contract-process">
              <a class="nav-link <%= :active if i.zero? %>" href="#" data-toggle="tab">
                <%= label %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="table-responsive mb-0">
    <table class="table table-sm table-nowrap card-table">
      <thead>
        <tr>
          <% %w[USER UID COMMAND PID %CPU %MEM TTY].each do |header| %>
            <th class="text-muted">
              <%= header %>
            </th>
          <% end %>
        </tr>
      </thead>
      <% %w[cpu_processes memory_processes].each_with_index do |metric, i| %>
        <tbody class="<%= 'd-none' unless i.zero? %> card-contract-process" id="card_<%= metric %>">
          <% processes = @metrics.pluck(metric).first %>

          <% unless processes.nil? %>
            <% processes.each do |process| %>
              <tr>
                <% process.each do |cell| %>
                  <td><%= cell %></td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      <% end %>
    </table>
  </div>
</div>
