<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h4 class="card-header-title">
          Queries
        </h4>
      </div>
      <div class="col-auto">
        <ul class="nav nav-tabs nav-tabs-sm card-header-tabs">
          <% { velocity: { label: "Velocity", suffix: "/sec" }, slow_queries: { label: "Slow" } }.each_with_index do |(metric, opts), i| %>
            <li class="nav-item"
                data-toggle="chart"
                data-type="time"
                data-target="queries_chart"
                data-metrics="<%= @metrics.pluck(metric.to_s) %>"
                data-mean="<%= @metrics.mean(metric.to_s).round(1) %>"
                data-timestamps="<%= @metrics.pluck('timestamp') %>"
                data-suffix="<%= opts[:suffix] %>"
                data-expand="#card_<%= metric %>"
                data-contract=".card-contract-queries">
              <a class="nav-link <%= :active if i.zero? %>" href="#" data-toggle="tab">
                <%= opts[:label] %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="chart">
      <canvas id="queries_chart"
              class="chart-canvas chartjs-render-monitor"
              width="1816"
              height="600"
              style="display: block; height: 300px; width: 908px;">
      </canvas>
    </div>
    <div class="chart-legend">
      <% { primary: "Metric", dark: "Average" }.each do |color, label| %>
        <span class="chart-legend-item">
          <i class="chart-legend-indicator bg-<%= color %>"></i>
          <%= label %>
        </span>
      <% end %>
    </div>
  </div>
</div>

<% %w[velocity slow_queries].each_with_index do |metric, i| %>
  <div class="row <%= 'd-none' unless i.zero? %> card-contract-queries" id="card_<%= metric %>">
    <% %w[mean median mode range].each do |action| %>
      <div class="col-12 col-lg-6 col-xl">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="card-title text-uppercase text-muted mb-2">
                  <%= titleize(metric) %>
                  <%= titleize(action) %>
                </h6>
                <span class="h2 mb-0">
                  <%= @metrics.send(action, metric).round(1) %><%= '/sec' if i.zero? %>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
